<h1>What has been asked</h1>

<% @questions.each do |question| %>
  <%= render partial: "question", object: question %>
  <!-- <h2><%= link_to "#{question.title}", question_path(question) %></h2>
  <p><%= question.description %></p>
  <ul>
    <%= link_to 'Answer'%>
  </ul> -->
<% end %>
