<% question = @question %>
<%= render partial: "question", object: question %>

<%= link_to 'Submit an Answer', new_question_answer_path(@question) %>

<% @question.answers.each do |answer| %>
  <p><%= answer.description%></p>
<% end %>
